<h2 mat-dialog-title class="text-center">Confirmation de suppression</h2>
<mat-dialog-content class="text-center font-weight-bold display-5">etes vous sur ?</mat-dialog-content>

<mat-dialog-actions class="justify-content-center mt-5">
  <button mat-button mat-dialog-close class="btn btn-danger">No</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button  class="btn btn-success"  (click)="delete()">Yes</button>
</mat-dialog-actions>