@import '~font-awesome/css/font-awesome.css';
@import "~bootstrap/dist/css/bootstrap.min.css";
.tools{
    margin: 10px,
    
}

.sidebar {
    padding-left: 0;
    padding-right: 0;
}
:host /deep/ tr,th {
    background-color: white;
    text-align:right;
    border: 1px solid black;
  
    }