<app-header></app-header>
<div class="app-body">
    <app-sidebar></app-sidebar>
    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
           
        </ol>
      
        <!--   <app-breadcrumbs></app-breadcrumbs>< -->
        <div class="card">
                <div class="card-header text-white bg-dark mb-3 display-5">Liste des utilisateurs
                    </div>
        <div class="portlet-title">
            <div class="caption font-dark">
            
            </div>
                       <div class="tools ">
                    <div class="form-group float-left pt-2">
                            <button type="button" class="btn bg-info rounded" (click)="add()" data-target="#add-function-model" >
                              <span class="fa fa-plus"></span> Ajouter utilisateur</button>
                              <button type="button" class="btn btn-unique waves-light" (click)="add()" data-target="#add-function-model" >
                                <span class="fa fa-plus"></span> Voir Historique</button>
                          </div>
                         
     
                <div class="tools float-right">
                    
                    <div class="form-group">
                    <!--<span class="btn  btn-primary"> Exporter </span>-->
                    <a class="btn btn-info text-white" target="_blank" onClick="
                        $('#functions_table').tableExport({
                        headings: true,
                        fileName: 'functions',
                        type: 'xls'
                        });">
                        <i class="fa fa-file-excel-o "> </i> Excel
                    </a>
                    <a class="btn btn-info text-white" onClick="
                        $('#functions_table').tableExport({ headings: true,
                        fileName: 'functions',
                        type: 'csv'});">
                        <i class="fa fa-file-text-o "> </i> CSV
                    </a>
                    <a class="btn  btn-info margin-right-10 text-white" onClick="function DoCellData(cell, row, col, data) {}
                        function DoBeforeAutotable(table, headers, rows, AutotableSettings) {}
                        $('#functions_table').tableExport({fileName: 'functions' ,
                        type: 'pdf', jspdf: {format: 'a4', margins: {left: 20, right: 10, top: 20, bottom: 20},  autotable: {tableWidth: 'wrap',
                        tableExport: {onBeforeAutotable: DoBeforeAutotable, onCellData: DoCellData}}}}); ">
                        <i class="fa fa-file-pdf-o "> </i> PDF
                    </a>
                </div>
                   
                    
                </div>
            </div>
        </div>


        <div class="portlet-body">


            <ng2-smart-table class='form-control table table-striped table-hover dt-responsive table-bordered' [settings]="settings"
                [source]="data" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)">
            </ng2-smart-table>

        </div>



    </div>




    </main>
    <app-aside></app-aside>
</div>
<app-footer></app-footer>