<app-header></app-header>
<div class="app-body">
  <app-sidebar></app-sidebar>
  <!-- Main content -->
 <main class="main">
    <!-- Breadcrumb -->
   <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </ol>
    <div class="row">
      <div class="col-lg-12">
          <div class="card mb-3">
              <div class="card-header font-weight-bold">Critères de recherche</div>
              <div class="card-body">
                  <form class="form-inline mb-2" #form="ngForm" (ngSubmit)="search(form.value)">
                      <div class="form-group col-8">
                          <label for="Code" class="font-weight-bold"> Num Compte : </label> 
                          <input type="text" id="Code" class="form-control col-6 rounded" placeholder="Numéro de compte" ngModel #Code="ngModel" name="Code" >
                      </div>  
                      <div class="form-group col-8" *ngIf="acteur=='SFD'">
                          <label for="Nom">Nom SFD :</label>
                          <input type="text" id="Nom" class="form-control col-6 rounded" placeholder="Nom SFD" ngModel #nomsfd="ngModel" name="Nomsfd">
                      </div>
                            <div class="form-groupe col-3">
                                  <button type="submit" class="btn btn-primary  float-right rounded col-12" ><i class="fa fa-search" aria-hidden="true"></i> Chercher</button>
                            </div>                       
                  </form>                   
              </div>
          </div>
      </div>
  </div>
    <div class="card p-0 col-12 mb-3">
        <div class="card-header font-weight-bold">Liste des Comptes</div>
        <div class="card-body">
            <div class="row float-right">
                <div class="form-group">
                    <span *HasAnyAuthority="'ROLE_GESTIONDESADHERENT'">
                        <button class="btn btn-primary rounded" (click)="Ajouter()" *ngIf="acteur=='Adherent'"><i class="fa fa-plus"> Ajouter Un compte </i></button>
                    </span>
                    <button class="btn btn-success rounded" routerLink="/GestionSFD" *ngIf="acteur=='SFD'">Gestion des SFD</button>
                    <button class="btn btn-success rounded" routerLink="/GestionAdherents" *ngIf="acteur=='Adherent'">Gestion des Adherents</button>
                    <button class="btn btn-success rounded" routerLink="/GestionPDV" *ngIf="acteur=='PDV'">Gestion des Points de ventes</button>
 <!-- <button type="button" class="btn btn-primary rounded" > Ajouter</button>--> 
                </div>
            </div>
            <div class="row">
                <form class="form-inline">
            <div class="form-group ">
                <label class="mr-2">Afficher:</label>
                <select class="form-control mr-2" #t (change)="sortBy(t)">
                    <option [ng-value]=""></option>
                    <option [ng-value]="10">10</option>
                    <option [ng-value]="5">5</option>
                    <option [ng-value]="3">3</option>
                  </select>
                  <label>éléments</label>
                </div>
             
        </form>
        </div>
            </div>
            <div class="card-body ">
              <div class="row mt-2">
                  <div class="col-lg-12">
                    <div class="card p-0">
                     <div class="card-body table-responsive p-0">
                    <span *HasAnyAuthority="'ROLE_GESTIONCOMPTESFD_SELECT'">
                        <table class="table" *ngIf="acteur=='SFD'">
                          <thead class="blue-grey lighten-4">
                            <tr>
                              <th>num_compte</th>
                              <th>date_cloture</th>
                              <th>date_creation</th>
                              <th>solde</th>
                              <th>statut_compte</th>
                              <th>Nom SFD</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                         <tbody>
                          <tr *ngFor="let compte of comptes">
                              <td>{{compte.numCompte}}</td>
                          <td >{{compte.dateCloture | date:'yyyy-MM-dd' }}</td>
                          <td>{{compte.dateCreation | date:'yyyy-MM-dd' }}</td>
                          <td>{{compte.solde}}</td>
                          <td>
                              <span *ngIf="compte.statutCompte=='Activé'" class="badge badge-success">{{compte.statutCompte}}</span>
                              <span *ngIf="compte.statutCompte=='Désactivé'" class="badge badge-danger">{{compte.statutCompte}}</span>
                              <span *ngIf="compte.statutCompte=='Bloqué'" class="badge badge-warning">{{compte.statutCompte}}</span>  
                        </td>
                        <td>{{compte?.sfd?.nomsfd}}</td>
                          <td>
                          
                            <div class="btn-group" role="group">
                               <span *HasAnyAuthority="'ROLE_GESTIONCOMPTESFD_UPDATE'">
                                <button type="button" class="btn btn-info" (click)="Desactiver(compte)" *ngIf="compte.statutCompte!='Désactivé'"><i class="fa fa-lock" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-info" (click)="Activer(compte)" *ngIf="compte.statutCompte=='Désactivé'"><i class="fa fa-unlock" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-danger" *ngIf="compte.statutCompte != 'Bloqué'" (click)="bloquer(compte)"><i class="fa fa-close"></i></button>
                                <button type="button" class="btn btn-success" (click)="bloquer(compte)" *ngIf="compte.statutCompte == 'Bloqué'"><i class="fa fa-close" aria-hidden="true"></i></button>
                               </span>
                                <!-- <button type="button" class="btn btn-danger"(click)="delete(compte)"><i class="fa fa-close">
                                    </i></button> -->
                            </div>
                       
                        </td>
                          </tr>
                         </tbody>
                        </table>
                    </span>
                    <span *HasAnyAuthority="'ROLE_GESTIONDESCOMPTEADHERENT_SELECT'">
                        <table class="table" *ngIf="acteur=='Adherent'">
                                <thead class="blue-grey lighten-4">
                                  <tr>
                                    <th>num_compte</th>
                                    <th>date_cloture</th>
                                    <th>date_creation</th>
                                    <th>solde</th>
                                    <th>statut_compte</th>
                                    <th>Nom Adherent</th>
                                    <th>Actions</th>
                                  </tr>
                                </thead>
                               <tbody>
                                <tr *ngFor="let compte of comptes">
                                    <td>{{compte.numCompte}}</td>
                                <td >{{compte.dateCloture | date:'yyyy-MM-dd' }}</td>
                                <td>{{compte.dateCreation | date:'yyyy-MM-dd' }}</td>
                                <td>{{compte.solde}}</td>
                                <td>
                                    <span *ngIf="compte.statutCompte=='Activé'" class="badge badge-success">{{compte.statutCompte}}</span>
                                    <span *ngIf="compte.statutCompte=='Désactivé'" class="badge badge-danger">{{compte.statutCompte}}</span>
                                    <span *ngIf="compte.statutCompte=='Bloqué'" class="badge badge-warning">{{compte.statutCompte}}</span>  
                              </td>
                              <td>{{compte?.adherent?.nomAdherent+" "+comtpe?.adherent?.prenomAdherent}}</td>
                                <td>
                                
                                  <div class="btn-group" role="group">
                                     <span *HasAnyAuthority="'ROLE_GESTIONDESCOMPTEADHERENT_DELETE'">
                                        <button type="button" class="btn btn-info" (click)="Desactiver(compte)" *ngIf="compte.statutCompte!='Désactivé'"><i class="fa fa-lock" aria-hidden="true"></i></button>
                                        <button type="button" class="btn btn-info" (click)="Activer(compte)" *ngIf="compte.statutCompte=='Désactivé'"><i class="fa fa-unlock" aria-hidden="true"></i></button>
                                      </span>
                                      <span *HasAnyAuthority="'ROLE_GESTIONDESCOMPTEADHERENT_UPDATE'">
                                        <button type="button" class="btn btn-danger" *ngIf="compte.statutCompte != 'Bloqué'" (click)="bloquer(compte)"><i class="fa fa-eye"></i></button>
                                        <button type="button" class="btn btn-success" (click)="bloquer(compte)" *ngIf="compte.statutCompte == 'Bloqué'"><i class="fa fa-eye-slash" aria-hidden="true"></i></button>
                                      </span> 
                                    </div>
                             
                              </td>
                                </tr>
                              
      
      
                               </tbody>
                        </table>
                    </span>
                    <span *HasAnyAuthority="'ROLE_GESTIONDESCOMPTEPDV_SELECT'">
                        <table class="table" *ngIf="acteur=='PDV'">
                                    <thead class="blue-grey lighten-4">
                                      <tr>
                                        <th>num_compte</th>
                                        <th>date_cloture</th>
                                        <th>date_creation</th>
                                        <th>solde</th>
                                        <th>statut_compte</th>
                                        <th>Nom PDV</th>
                                        <th>Actions</th>
                                      </tr>
                                    </thead>
                                   <tbody>
                                    <tr *ngFor="let compte of comptes">
                                        <td>{{compte.numCompte}}</td>
                                    <td >{{compte.dateCloture | date:'yyyy-MM-dd' }}</td>
                                    <td>{{compte.dateCreation | date:'yyyy-MM-dd' }}</td>
                                    <td>{{compte.solde}}</td>
                                    <td>
                                        <span *ngIf="compte.statutCompte=='Activé'" class="badge badge-success">{{compte.statutCompte}}</span>
                                        <span *ngIf="compte.statutCompte=='Désactivé'" class="badge badge-danger">{{compte.statutCompte}}</span>
                                        <span *ngIf="compte.statutCompte=='Bloqué'" class="badge badge-warning">{{compte.statutCompte}}</span>  
                                  </td>
                                  <td>{{compte?.pdv?.nomPdv}}</td>
                                    <td>
                                    
                                      <div class="btn-group" role="group">
                                         
                                          <button type="button" class="btn btn-info" (click)="Desactiver(compte)" *ngIf="compte.statutCompte!='Désactivé'"><i class="fa fa-lock" aria-hidden="true"></i></button>
                                          <button type="button" class="btn btn-info" (click)="Activer(compte)" *ngIf="compte.statutCompte=='Désactivé'"><i class="fa fa-unlock" aria-hidden="true"></i></button>
                                          <button type="button" class="btn btn-danger" *ngIf="compte.statutCompte != 'Bloqué'" (click)="bloquer(compte)"><i class="fa fa-eye">
                                              </i></button>
                                              <button type="button" class="btn btn-success" (click)="bloquer(compte)" *ngIf="compte.statutCompte == 'Bloqué'"><i class="fa fa-eye-slash" aria-hidden="true"></i></button>
                                          <!-- <button type="button" class="btn btn-danger"(click)="delete(compte)"><i class="fa fa-close">
                                              </i></button> -->
                                      </div>
                                 
                                  </td>
                                    </tr>
                                  
          
          
                                   </tbody>
                        </table>
                    </span>
                        <!--Pagination
                        <ul class="pagination">
                          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                          <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                          <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>-->
                      </div>
                    </div>
                  </div>
              </div>
          
        </div>
    </div>


    
    <div class="container-fluid">
        <router-outlet></router-outlet>
      </div><!-- /.conainer-fluid -->
    </main>
    <app-aside></app-aside>
  </div>
  <app-footer></app-footer>