<app-header></app-header>
<div class="app-body">
    <app-sidebar></app-sidebar>
    <!-- Main content -->
    <main class="main">
        <div class="alert rgba-green-light font-weight-bold col-4" id="Message">
            
        </div>
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
           
        </ol>
      
        <!--   <app-breadcrumbs></app-breadcrumbs>< -->
        <div class="card">
                <div class="card-header text-white indigo darken-4 display-5">Liste des fonctions
                    </div>
        <div class="portlet-title">
        
            <div class="tools float-right">
                <div class="tools">

<a class="btn blue darken-2" data-target="#add-function-model" data-toggle="modal" (click)="add()">
                        <i class="fa fa-plus"></i> Nouvelle Fonction </a>

                </div>
            </div>
        </div>


        <div class="portlet-body">


            <ng2-smart-table class='form-control table-striped table-bordered center-block text-center' [settings]="settings" [source]="data"
                (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)">
                <!-- (createConfirm)="onCreateConfirm($event)"  -->
            </ng2-smart-table>

        </div>
</div>
    </main>
    <app-aside></app-aside>
</div>
<app-footer></app-footer>