<app-header></app-header>
<div class="app-body">
  <app-sidebar></app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </ol>
    <div class="alert rgba-green-light font-weight-bold col-4" id="Message">

    </div>


    <div class="card  col-12  p-0 mb-3">
      <div class="card-header font-weight-bold">Liste des SFD</div>
      <div class="card-body">
        <div class="row float-right">
          <div class="form-group">


            <button class="btn btn-primary rounded"  placement="left" (click)="openAddSFDDialog()">
              <i class="fa fa-plus"></i>
            </button>
<!-- 
            <span>
              <button class="btn btn-amber waves-light rounded" *ngIf="layout=='Active'" mdbRippleRadius (click)="getDesactivated()"
                placement="top">
                <i class="fa fa-list" aria-hidden="true"></i>
              </button>
              <button class="btn btn-amber waves-light rounded" *ngIf="layout=='Desactivated'" mdbRippleRadius (click)="getDesactivated()"
                 placement="top">
                <i class="fa fa-list" aria-hidden="true"></i>
              </button>
            </span> -->

            <!-- <button class="btn btn-success rounded" routerLink="/Comptes/SFD"  placement="top">
              <i class="fa fa-money" aria-hidden="true"></i>
            </button> -->
            <!-- <button class="btn btn-success rounded" routerLink="/Comptes/SFD"  mdbTooltip="Gestion des comptes" placement="top" >Gestion des comptes</button>                   -->
            <!-- <button type="button" class="btn btn-primary rounded" > Ajouter</button>-->
          </div>
        </div>
        <div class="row">
          <form class="form-inline">
            <div class="form-group ">
              <label class="mr-2">Afficher:</label>
              <select class="form-control mr-2" #t (change)="sortBy(t)">
                <option [ng-value]=""></option>
                <option [ng-value]="10">10</option>
                <option [ng-value]="5">5</option>
                <option [ng-value]="3">3</option>
              </select>
              <label>éléments</label>
            </div>

          </form>
        </div>
      </div>
      <div class="card-body">
        <div class="row mt-2">
          <div class="col-lg-12">
            <div class="card p-0">
              <div class="card-body  table-responsive p-0">
                <table class="table" #content id="content">
                  <!-- <thead class="blue-grey lighten-4"> -->
                  <tr>
                    <th class="font-weight-bold">Code</th>
                    <th class="font-weight-bold">Nom</th>
                    <th class="font-weight-bold">Adresse</th>
                    <th class="font-weight-bold">Pays</th>
                    <!-- <th class="font-weight-bold">Statut social</th> -->
                    <th class="font-weight-bold">Point des Ventes</th>
                    <div>
                      <th class="font-weight-bold">Actions</th>
                    </div>
                  </tr>
                  <!-- </thead> -->
                  <!-- <tbody > -->
                  <tr *ngFor="let sfd of sfds">
                    <td>{{sfd.sfd_code}}</td>
                    <td>{{sfd.sfd_nom}}</td>
                    <td>{{sfd.sfd_adresse}}</td>
                    <td>{{sfd.sfd_pays}}</td>
                    <!-- <td>
                      <span *ngIf="sfd.statutsfd=='Activé'" class="badge badge-success">{{sfd.statutsfd}}</span>
                      <span *ngIf="sfd.statutsfd=='Désactivé'" class="badge badge-danger">{{sfd.statutsfd}}</span>
                    </td> -->
                    <td> <span *ngFor="let pdv of sfd.pointdevente" class="btn btn-amber">{{pdv.pdv_nom}}</span></td>
                    <td>

                      <div class="btn-group" role="group">

                        <button type="button" mdbTooltip="Modifier" placement="top" class="btn btn-info" (click)="update(sfd)">
                          <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-default" mdbTooltip="Consulter" placement="top" routerLink="view/{{sfd.sfd_code}}">
                          <i class="fa fa-eye"></i>
                        </button>
                        <span>
                          <button type="button" class="btn btn-info" (click)="Desactiver(sfd)" mdbTooltip="Désactiver" placement="top" *ngIf="sfd.statutsfd=='Activé'">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                          </button>
                          <button type="button" class="btn btn-info" (click)="Activer(sfd)" *ngIf="sfd.statutsfd=='Désactivé'" mdbTooltip="Activer"
                            placement="top">
                            <i class="fa fa-unlock" aria-hidden="true"></i>
                          </button>
                        </span>
                      </div>

                    </td>             
                  </tr>



                  <!-- </tbody> -->
                </table>
                <!--Pagination
                                <ul class="pagination">
                                  <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                  <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>-->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>



    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->
  </main>
  <app-aside></app-aside>
</div>
<app-footer></app-footer>
