<div class="card p-0 mb-0">
    <div class="card-header text-white text-uppercase cyan darken-2 text-center">{{Operation}}</div>
    <div class="card-body font-weight-bold" *ngIf="Operation == 'remboursement'">
        Le montant a rembourser : {{MontantRemboursement}}
        <br>
        Le point de vente Bénifier de : {{benification}}
    </div>
    <div class="card-body font-weight-bold" *ngIf="Operation == 'annuler'">
        Êtes-vous sûr de vouloir annuler la transaction ?
    </div>
    <div class="card-footer cyan darken-2 ">
        <div class="row justify-content-center">
            <button class="btn btn-primary">Confirmer</button><button class="btn btn-danger">Annuler</button>
        </div>
    </div>
</div>