<div class="container">
        <h2 mat-dialog-title>Ajouter une nouvelle fonction de rôle</h2>
        <form>
         

            
          <div class="w3-panel">
                <div class="form-group row"> 
                  <h4> List des Fonctions  </h4>
                </div>
                <div class="form-group row">
                    <ul>
                        <ol class="btn btn-outline-primary" *ngFor="let x  of _Rolefunctions" (click)="deleteRoleFunction(x.functionId)">{{x.functionName}}</ol>
                    </ul>
                </div>
              </div>  
          <div class="form-group row">
                <table class="table-striped table-bordered center-block text-center col-md-9">
                  <tr>
                    <td> choisir une  Fonction </td>
                    <td>
                        <select class="form-control" id="selectParent" required [(ngModel)]="selectParent" name="selectedParent" #selectedParent="ngModel" (ngModelChange)="onChangeParent($event)">
                            <option [value]="">Select parent</option> 
                            <option *ngFor="let _p of _functions" [value]="_p.functionId"> {{_p.functionName}} </option>
                        </select>
                    </td>
                  </tr>
                  <tr>
                    <td><label class="form-check-label checkbox-m">Liste</label></td>
                    <td>  
                       <input type="checkbox" [checked]="select" (change)="select = !select">
                    </td>
                    
                  </tr>
                  <tr>
                    <td><label class="form-check-label">Màj</label></td>
                    <td>
                        <input type="checkbox"  [checked]="update" (change)="update = !update">            
                    </td>
                  </tr>
                 <tr> 
                    <td><label class="form-check-label">Supprimer</label></td>
                    <td>
                        <input type="checkbox" [checked]="delete" (change)="delete = !delete">

                    </td>
                  </tr>
                  <tr>
                    <td><label class="form-check-label">Ajout</label></td>
                    <td> 
                        <input  type="checkbox"  [checked]="add" (change)="add = !add">
                    </td>
                  </tr>
                
              </table>
              <div class="col-md-1"></div>
              <button class=" btn btn-outline-primary btn-xs col-md-2" (click)="AddFunctions()">Ajouter</button>
          </div>
         

          <div class="form-group row justify-content-center">
                <mat-dialog-actions>
                    <button mat-button class="btn btn-outline-danger btn-xs" [mat-dialog-close]="false">Annuler</button>
                    <button mat-button class="btn btn-outline-success btn-xs" (click)="updateRole()" [mat-dialog-close]="true">Enregister</button>
                </mat-dialog-actions>
             </div>
          
        </form>
      </div>
    