<div class="card m-0 p-0 ">
    <div class=" card-header #64b5f6 cyan darken-3 text-center  pt-3 mb-3">
        <h4 class="mb-2">Ajouter des nouvelles fonctions</h4>
    </div>

    <div class="card-body">

        <form>

            <div class="w3-panel">
                <div class="form-group row">
                    <h6> List des Fonctions affecté: </h6>
                </div>
                <div class="form-group row">
                    <ul>
                        <ol class="btn btn-outline-primary" *ngFor="let x  of _Rolefunctions" (click)="deleteRoleFunction(x.functionId)">{{x.functionName}}</ol>
                    </ul>
                </div>
            </div>
            <div class="form-group row">
                <table class="table-striped table-bordered center-block text-center col-12 ">
                    <tr class="#e3f2fd blue lighten-5">
                        <td> choisissez une fonction: </td>
                        <td>
                            <select class="form-control" id="selectParent" required [(ngModel)]="selectParent" name="selectedParent" #selectedParent="ngModel"
                                (ngModelChange)="onChangeParent($event)">
                                <!-- <option [value]="">Select parent</option> -->
                                <option value="" disabled selected>Selectionnez une fonction</option>
                                <option *ngFor="let _p of _functions" [value]="_p.functionId"> {{_p.functionName}} </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="form-check-label checkbox-m">Consultation </label>
                        </td>
                        <td>
                            <input type="checkbox" [checked]="select" (change)="select = !select">
                        </td>

                    </tr>
                    <tr class="#e3f2fd blue lighten-5">
                        <td>
                            <label class="form-check-label"> Mise à jour </label>
                        </td>
                        <td>
                            <input type="checkbox" [checked]="update" (change)="update = !update">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="form-check-label">Suppression</label>
                        </td>
                        <td>
                            <input type="checkbox" [checked]="delete" (change)="delete = !delete">

                        </td>
                    </tr>
                    <tr class="#e3f2fd blue lighten-5">
                        <td>
                            <label class="form-check-label">Ajout</label>
                        </td>
                        <td>
                            <input type="checkbox" [checked]="add" (change)="add = !add">
                        </td>
                    </tr>

                </table>
                <div class="col-md-1"></div>


                

            </div>

            <div class="row col-12 justify-content-center">
                    <button class="btn btn-outline-primary waves-effect" (click)="AddFunctions()">
                        <i class="fa fa-plus" aria-hidden="true"></i>Ajouter</button>
                </div>
        </form>


    </div>


    <div class="card-footer #64b5f6 cyan darken-3 pt-3">
        <div class="text-center col-12">
            <mat-dialog-actions class="justify-content-center esapce mb-2">

                <button mat-button class="btn info-color-dark rounded" (click)="updateRole()" [mat-dialog-close]="true">Ajouter</button>
                <button class="btn btn-danger rounded" [mat-dialog-close]="false">Annuler</button>


            </mat-dialog-actions>
        </div>
    </div>
</div>