<app-header></app-header>
<div class="app-body">
  <app-sidebar></app-sidebar>
  <!-- Main content -->
 <main class="main">
    <!-- Breadcrumb -->
   <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </ol>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header font-weight-bold">Critères de recherche</div>
                <div class="card-body">
                    <form class="form-inline mb-2" #form="ngForm" (ngSubmit)="search(form.value)">
                        <div class="form-group col-4">
                            <label for="Code" class="font-weight-bold"> Code point de vente : </label> 
                            <input type="text" id="Code" class="form-control col-12 rounded" placeholder="Code" ngModel #Code="ngModel" name="Code" >
                          </div>
                          <div class="form-group col-4">
                               <label for="Nom" class="font-weight-bold"> Nom point de vente : </label>
                                <input type="text" id="Nom" class="form-control  col-12 rounded"  placeholder="Nom"  ngModel #Nom="ngModel" name="Nom" >
                              </div>   
                              <div class="form-groupe col-3">
                                    <button type="submit" class="btn btn-primary  float-right rounded col-12" ><i class="fa fa-search" aria-hidden="true"></i> </button>

                              </div>                       
                    </form>                   
                </div>
            </div>
        </div>
    </div>
    <div class="card col-12 mb-3 p-0">
              <div class="card-header font-weight-bold">Liste des Points De Vente</div>
              <div class="card-body">
                  <div class="row float-right">
                      <div class="form-group">
          <button class="btn btn-primary rounded" (click)="ajouter()" *HasAnyAuthority="'ROLE_GESTIONDESPDV_ADD'"><i class="fa fa-plus"></i></button>
          <span *HasAnyAuthority="'ROLE_GESTIONDESPDV_SELECT'"> 
            <button class="btn btn-warning rounded"(click)="getDesactivated()" *ngIf="layout=='Active'"  mdbTooltip="Historique" placement="top"><i class="fa fa-list" aria-hidden="true"></i></button>             
            <button class="btn btn-warning rounded"(click)="getDesactivated()" *ngIf="layout=='Desactive'"><i class="fa fa-list" aria-hidden="true"  mdbTooltip="Liste Des Point de ventes" placement="top"></i></button>
          </span>
          <button class="btn btn-primary rounded" (click)="downolad()" mdbTooltip="PDF" placement="top"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> </button>

          <button class="btn btn-success rounded" routerLink="/Comptes/PDV" *HasAnyAuthority="'ROLE_GESTIONDESCOMPTEPDV'"  mdbTooltip="Gestion des comptes" placement="top" ><i class="fa fa-money" aria-hidden="true"></i></button>  
         
       <!-- <button type="button" class="btn btn-primary rounded" > Ajouter</button>-->
                    </div>
                  </div>
                  <div class="row">
                      <form class="form-inline">
                  <div class="form-group ">
                      <label class="mr-2">Afficher:</label>
                      <select class="form-control mr-2" #t (change)="sortBy(t)">
                          <option [ng-value]=""></option>
                          <option [ng-value]="5">5</option>
                          <option [ng-value]="10">10</option>
                          <option [ng-value]="15">15</option>
                          <option [ng-value]="20">20</option>
                        </select>
                        <label>éléments</label>
                      </div>
                      </form>
              </div>
              </div>
              <div class="card-body" *HasAnyAuthority="'ROLE_GESTIONDESPDV_SELECT'">
                    <div class="row mt-2">
                        <div class="col-lg-12">
                          <div class="card p-0">
                           <div class="card-body table-responsive">
                              <table class="table" #content id="content">
                
                                  <tr>
                                    <th>Code</th>
                                    <th>Nom</th>
                                    <th>Téléphone</th>
                                    <th>Téléphone 2</th>
                                    <th>Statut</th>
                                    <th>Type</th>
                                    <th>Actions</th>
                                    </div>
                                  </tr>
                            
                               <tbody>
                                <tr *ngFor="let pdv of pdvs">
                                    <td>{{pdv.codePdv}}</td>
                                <td>{{pdv.nomPdv}}</td>
                                <td>{{pdv.telephone1Pdv}}</td>
                                <td>{{pdv.telephone2Pdv}}</td>
                                <td><span *ngIf="pdv.statutPdv=='Activé'" class="badge badge-success">{{pdv.statutPdv}}</span>
                                    <span *ngIf="pdv.statutPdv=='Désactivé'" class="badge badge-danger">{{pdv.statutPdv}}</span>  
                              </td>
                              <td>{{pdv?.typePdv}}</td>
                                <td>
                                
                                  <div class="btn-group" role="group">
                                     
                                      <button *HasAnyAuthority="'ROLE_GESTIONDESPDV_UPDATE'" type="button" class="btn btn-info" (click)="update(pdv)"  mdbTooltip="Modifier" placement="top"><i class="fa fa-pencil"></i></button>
                                      <button *HasAnyAuthority="'ROLE_GESTIONDESPDV_SELECT'" type="button" class="btn btn-default" routerLink="view/{{pdv.codePdv}}"  mdbTooltip="Consulter" placement="top"><i class="fa fa-eye"></i></button>
                                   <span *HasAnyAuthority="'ROLE_GESTIONDESPDV_DELETE'">    
                                      <button type="button" class="btn btn-info" (click)="Desactiver(pdv)" *ngIf="pdv.statutPdv!='Désactivé'"  mdbTooltip="Désactiver" placement="top"><i class="fa fa-lock" aria-hidden="true"></i></button>
                                      <button type="button" class="btn btn-info" (click)="Activer(pdv)" *ngIf="pdv.statutPdv=='Désactivé'"  mdbTooltip="Activer" placement="top"><i class="fa fa-unlock" aria-hidden="true"></i></button>
                                   </span>
                                    </div>
                             
                              </td>
                                </tr>
                               </tbody>
                              </table>
                              <!--Pagination
                              <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                <li class="page-item active">
                                  <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                              </ul>-->
                            </div>
                          </div>
                        </div>
                    </div>
                
              </div>
          </div>

       
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
  <app-aside></app-aside>
</div>
<app-footer></app-footer>