<app-header></app-header>
<div class="app-body">
  <app-sidebar></app-sidebar>
  <!-- Main content -->
 <main class="main">
    <!-- Breadcrumb -->
   <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </ol>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header font-weight-bold">Critères de recherche</div>
                <div class="card-body">
                    <form class="form-inline mb-2" #form="ngForm" (ngSubmit)="search(form.value)">
                        <div class="form-group col-4">
                            <label for="Code" class="font-weight-bold"> Code PDV : </label> 
                            <input type="text" id="Code" class="form-control col-12 rounded" placeholder="Code" ngModel #Code="ngModel" name="Code" required>
                          </div>
                          <div class="form-group col-4">
                               <label for="Nom" class="font-weight-bold"> Nom PDV : </label>
                                <input type="text" id="Nom" class="form-control  col-12 rounded"  placeholder="Nom"  ngModel #Nom="ngModel" name="Nom" required>
                              </div>   
                              <div class="form-groupe col-3">
                                    <button type="submit" class="btn btn-primary  float-right rounded col-12" [disabled]="!Code.valid && !Nom.valid"><i class="fa fa-search" aria-hidden="true"></i> Chercher</button>
                              </div>                       
                    </form>                   
                </div>
            </div>
        </div>
    </div>
    <div class="card col-12 mb-3 p-0">
              <div class="card-header font-weight-bold">Liste des Point De Vente</div>
              <div class="card-body">
                  <div class="row float-right">
                      <div class="form-group">
          <button class="btn btn-primary rounded" (click)="ajouter()"><i class="fa fa-plus"></i> Ajouter Point De Vente</button> 
          <button class="btn btn-warning rounded"(click)="getDesactivated()" *ngIf="layout=='Active'"><i class="fa fa-list" aria-hidden="true"></i> Historique</button>             
          <button class="btn btn-warning rounded"(click)="getDesactivated()" *ngIf="layout=='Desactive'"><i class="fa fa-list" aria-hidden="true"></i> Liste Des Point de ventes</button> 
          <button class="btn btn-success rounded" routerLink="/Comptes">Gestion des comptes</button>
          
       <!-- <button type="button" class="btn btn-primary rounded" > Ajouter</button>-->
                    </div>
                  </div>
                  <div class="row">
                      <form class="form-inline">
                  <div class="form-group ">
                      <label class="mr-2">Afficher:</label>
                      <select class="form-control mr-2">
                          <option>10</option>
                        </select>
                        <label>éléments</label>
                      </div>
                      </form>
              </div>
              </div>
              <div class="card-body">
                    <div class="row mt-2">
                        <div class="col-lg-12">
                          <div class="card p-0">
                           <div class="card-body table-responsive">
                              <table class="table ">
                                <thead>
                                  <tr>
                                    <th>code</th>
                                    <th>nom</th>
                                    <th>telephone</th>
                                    <th>telephone 2</th>
                                    <th>statut</th>
                                    <th>type</th>
                                    <th>Actions</th>
                                  </tr>
                                </thead>
                               <tbody>
                                <tr *ngFor="let pdv of pdvs">
                                    <td>{{pdv.codePdv}}</td>
                                <td>{{pdv.nomPdv}}</td>
                                <td>{{pdv.telephone1Pdv}}</td>
                                <td>{{pdv.telephone2Pdv}}</td>
                                <td><span *ngIf="pdv.statutPdv=='Activé'" class="badge badge-success">{{pdv.statutPdv}}</span>
                                    <span *ngIf="pdv.statutPdv=='Désactivé'" class="badge badge-danger">{{pdv.statutPdv}}</span>  
                              </td>
                              <td>{{pdv?.typePdv}}</td>
                                <td>
                                
                                  <div class="btn-group" role="group">
                                     
                                      <button type="button" class="btn btn-info" (click)="update(pdv)"><i class="fa fa-pencil">
                                          </i></button>
                                      <button type="button" class="btn btn-default" routerLink="view/{{pdv.codesfd}}"><i class="fa fa-eye">
                                          </i></button>
                                      <button type="button" class="btn btn-danger"(click)="delete(pdv)"><i class="fa fa-close">
                                          </i></button>
                                  </div>
                             
                              </td>
                                </tr>
                              


                               </tbody>
                              </table>
                              <!--Pagination
                              <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                <li class="page-item active">
                                  <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                              </ul>-->
                            </div>
                          </div>
                        </div>
                    </div>
                
              </div>
          </div>

       
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
  <app-aside></app-aside>
</div>
<app-footer></app-footer>