<app-header></app-header>
<div class="app-body">
    <app-sidebar></app-sidebar>
    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
           
        </ol>
      
        <!--   <app-breadcrumbs></app-breadcrumbs>< -->
        <div class="card">
                <div class="card-header text-white bg-dark mb-3 display-5">Liste des utilisateurs désactivés
                    </div>
    
                    <div class="portlet-body">


                        <ng2-smart-table class='form-control table table-striped table-hover dt-responsive table-bordered' [settings]="settings"
                            [source]="data" (deleteConfirm)="activateUser($event)">
                        </ng2-smart-table>
            
                    </div>



    </div>




    </main>
    <app-aside></app-aside>
</div>
<app-footer></app-footer>