<div class="card m-0 p-0">
  <div class=" card-header text-center">
    <h4 class="mb-4">{{data?.caller}}</h4>
  </div>
  <div>
  <div class="card-body">
  <form #form="ngForm" class="form-inline">
      
      <div class="form-group col-6 mb-2">
          <input type="text" class="form-control" placeholder="code SFD" name="codesfd" [ngModel]="data?.codesfd" >  
        </div>
  <div class="form-group col-6 mb-2">
  <input type="text" class="form-control" placeholder="Nom SFD" name="nomsfd" [ngModel]="data?.nomsfd">
</div>
<div class="form-group col-6 mb-2">
<input type="text" class="form-control" placeholder="raison sociale" name="raisonsociale" [ngModel]="data?.raisonsociale">
</div>
<div class="form-group col-6 mb-2">
<input type="text" class="form-control" placeholder="Adresse SFD" name="adressesfd" [ngModel]="data?.adressesfd">
</div>
<div class="form-group col-6 mb-2">
<input type="email" class="form-control" placeholder="Email" name="email" [ngModel]="data?.email">
</div>
<div class="form-group col-6 mb-2">

<input type="text" class="form-control" placeholder="Statuts" name="statutsfd" [ngModel]="data?.statutsfd">
</div>
<div class="form-group col-6 mb-2">
<input type="text" class="form-control" placeholder="Tel" name="telsfd" [ngModel]="data?.telsfd">
</div>
<div class="form-group col-6 mb-2">
<input type="text" class="form-control" placeholder="Ville" name="villesfd" [ngModel]="data?.villesfd">
</div>
<div class="form-group col-6 mb-2">
  <input type="text" class="form-control" placeholder="matriculeFiscale" name="matriculeFiscale" [ngModel]="data?.matriculeFiscale">
  </div>
</form>
</div>
<div class="card-footer">
<div class="text-center col-12">
<button class="btn btn-light" (click)="close()">Quitter</button>
<button type="submit" class="btn btn-primary" (click)="add(form)" *ngIf="data?.caller !== 'Modifier SFD'">Ajouter</button>
<button type="submit" class="btn btn-primary" (click)="update(form)" *ngIf="data?.caller=='Modifier SFD'">Modifier</button>
</div>
</div> 