<app-header></app-header>
<div class="app-body">
  <app-sidebar></app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
 
   <div class="card p-0"><span class="card-header">Paramétres Globaux</span></div>
   <div class="row justify-content-center">
     <div class="card col-3 p-0">
       <div class="card-header bg-primary">Frais de transfert</div>
       <div class="card-body table-responsive p-0 ">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>Id</th>
              <th>Désignation</th>
              <th>Valeur</th>
            </tr>
          </thead>
        </table>
       </div>
     </div>
   </div>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
  <app-aside></app-aside>
</div>
<app-footer></app-footer>
