<header class="app-header navbar">
    <div class="row">
        <a class="" href="#" ></a>
        <div class="navbar-brand"></div>
         <h4 class="pt-3 mr-1 text-info">AT-SFD</h4>
         <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <button class="navbar-toggler d-md-down-none mr-auto mr-" type="button" appSidebarToggler>
            <span class="navbar-toggler-icon"></span>
          </button>
          
         
         </div>
         <!-- <button class="navbar-toggler d-md-down-none" type="button" appAsideMenuToggler>
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="font-weight-bold">{{logger.sub}}</div>

</header>
