
<div class="row">
  <div class="col-sm-12 col-md-12 ml-2">
<div class="card-group">
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">

    <div class="card-body">
      <h5 class="card-title text-center">SFD</h5>
<img src="./assets/img/institute.png">
  
      <p class="card-text"></p>
    </div>
  </div>

  <div class="card text-white bg-success mb-3 ml-5" style="max-width: 18rem;">

    <div class="card-body">
      <h5 class="card-title text-center">Clients</h5>
      <img src="./assets/img/users.png">
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card text-white bg-danger mb-3 ml-5" style="max-width: 18rem;">
 
    <div class="card-body">
      <h5 class="card-title text-center">Points de vente</h5>
      <img src="./assets/img/shop.png">
      <p class="card-text"></p>
    </div>
  </div>
 
  
  
  
</div>
</div>
</div>