<app-header></app-header>
<div class="app-body">
  <app-sidebar></app-sidebar>
  <!-- Main content -->
 <main class="main">
    <!-- Breadcrumb -->
   <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </ol>
<!--Content-->
<div class="row">
  <div class="col-12 card mb-0">
    <div class="card-header text-center display-5 font-weight-bold">
      <span class="float-left"><Button class="btn btn-flat btn-default" (click)="back()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Gestion des SFD</Button></span>
      {{SFD?.nomsfd}}
    </div>
    <div class="card-body p-0">
      <div class="row justify-content-center">
        <div class="col-6">Status : </div><div class="col-3"><span *ngIf="SFD?.statutsfd=='Activé'" class="badge badge-success">{{SFD?.statutsfd}}</span><span *ngIf="SFD?.statutsfd=='désactivé'" class="badge badge-danger">{{SFD?.statutsfd}}</span></div>
        <div class="col-6">Email : </div><div class="col-3">{{SFD?.email}}</div>
        <div class="col-6">Telphone : </div><div class="col-3">{{SFD?.telsfd}}</div>
        <div class="col-6">Telphone  : </div><div class="col-3">{{SFD?.telsfd2}}</div>
        <div class="col-6">Ville : </div><div class="col-3">{{SFD?.villesfd}}</div>
        <div class="col-6">Matricule Fiscale : </div><div class="col-3">{{SFD?.matriculeFiscale}}</div>
        <div class="col-12 card-header m-0  font-weight-bold text-center mt-3">Responsables</div>
        <ul class="list-group col-12">
            <li class="list-group-item" *ngFor="let Resp of responsable">{{Resp?.firstName +" "+Resp?.lastName | uppercase}}</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="col-12 card mb-0">
    <div class="card-header display-6 text-center font-weight-bold">Historique</div>
    <div class="card-body">

    </div>
  </div>
</div>
    <!-- <div class="container-fluid">
      <router-outlet></router-outlet>
    </div> -->
    <!-- /.conainer-fluid -->
  </main>
  <app-aside></app-aside>
</div>
<app-footer></app-footer>