<ng-template [ngIf] = "data?.caller == 'Ajout Compte' || data?.caller == 'Modifier Compte'">
  <div class="card m-0 p-0">
      <div class=" card-header cyan darken-2 text-center">
        <h4 class="mb-4 text-uppercase">{{data?.caller}}</h4>
      </div>
      <div class="card-body">
          <form #form="ngForm" class="form-inline">        
            <div class="form-group col-12 mb-2">
              <input type="text" class="form-control col-11" placeholder="Num compte" name="numCompte" [ngModel]="data?.numCompte" #numCompte="ngModel" required>  
            </div>
            <div class="form-group col-12 mb-2">
              <select name="sfd" class="form-control col-12 rounded" [ngModel]="data?.sfd">    
                <option [ng-value]="">Selectionez un SFD</option>         
                <option *ngFor="let sfd of sfds" [value]="sfd.codesfd">{{sfd.codesfd}}</option>                            
              </select>                  
            </div>
            <div class="form-group col-12 mb-2">
              <select name="adherent" [ngModel]="data?.adherent" class="form-control col-12 rounded">
                <option *ngFor="let adherent of adherents" [ngValue]="adherent.numAdherent">{{adherent.nomAdherent+" "+adherent.prenomAdherent}}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="card-footer pb-0 cyan darken-2 p-4">
          <div class="text-center col-12">
            <button type="submit" class="btn btn-primary" (click)="add(form)" *ngIf="data?.caller !== 'Modifier Compte'" [disabled]="!form.valid">Ajouter</button>
            <button class="btn btn-default waves-light rounded" mdbRippleRadius (click)="close()">Quitter</button>
          </div>
        </div> 
  </div>
</ng-template>

<ng-template [ngIf] = "data?.caller == 'bloquer'">
  <div class="card m-0 p-0">
    <div class=" card-header cyan darken-2 text-center">
      <h4 class="mb-4">{{data?.caller}}</h4>
    </div>
  <div class="card-body pb-5">
    Etes vous sur de bloquer cet compte ? 
  </div>
  <div class="card-footer cyan darken-2 p-5">
    <div class="text-center col-12">
      <button type="submit" class="btn btn-primary" (click)="bloquer()" *ngIf="data?.caller=='bloquer'">Bloquer</button>
      <button class="btn btn-default waves-light rounded" mdbRippleRadius (click)="close()">Quitter</button>
    </div>
  </div> 
  </div>
</ng-template>